{% extends 'food/base.html' %}

{% block title %}Food{% endblock title %}

{% if messages %}
    {% for message in messages %}

        <div class="container">
            <div class="alert alert-dismissible fade show alert-{{message.tags}}" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        
    {% endfor %}
{% endif %}

{% block body %}

    {% for item in item_list%}
        <div class="container">
            <div class="row mt-4">
                <div class="col-md-3 offset-md-2">
                <img src="{{item.item_img}}" height="150px" width="250px" class="card"/>
                </div>
                <div class="col-md-4">
                    <h3> <strong> {{item.item_name}} </strong> </h3>
                    <h5> {{item.item_desc}} </h5>
                    <h6> ${{item.item_price}} </h6>
                    <p> {{item.user_name}} </p>
                </div>
                <div class="col-md-2 mt-2">
                    <a href="{% url 'food:detail' item.id %}" class="btn btn-outline-secondary btn-lg">Detail</a>
                </div>
            </div>
        </div>
    {% endfor %}
    
{% endblock body %}
